
body {font: 8pt/16pt Arial, Helvetica, sans-serif; }

a {
   color: #990000;
   font-weight: bold;
}

a:link, a:visited { 
	text-decoration: none; 
}

a:hover, a:active{ 
	text-decoration: underline; 
}
	
.border {height:4px; background:#CCCCCC  top}

.aligned {  text-align: justify}
.concept {  font-weight: bold; font-family: Arial, Helvetica, sans-serif}

.menu {
    border-radius: 5px;
    margin: 0;
    padding: 0;
    width: 108px;
    height: 32px;
    display: block;
    text-align: center;
    font-size: 18px;
    color: #3D3D3D !important; 
    background-color: #D2D2D2 !important; 
    text-decoration: none !important; 
    font-style: oblique !important;
    font-weight: normal !important;
    line-height: 32px;
}

.active {
    background-color: #BC6554 !important; 
    color: #FFFFFF !important; 
}

#tabs {
    margin-top: 5px;
    border-bottom: solid 3px #999999;
    color: #999999;
}

#footer {
	display: block;
	float: left;
	clear: both;
	width: 893px; 
	height: 50px;
	margin-top: 30px;
	color: #669966;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	border-top: 1px solid #669966;
	padding-top: 10px;
	}


