
<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="inner_wrapper">
                    <div class="left">
                        <h6>DigitalPebble Ltd</h6>
                        <p>DigitalPebble Ltd Registered Office : 16 Codrington Road, Bristol, BS7 8ET, United Kingdom. <br>Registered in England and Wales under number 6476708</p>
                    </div>
                    <div class="right">
                        <ul id="social_links">
                            <li>
                                <a href="https://fosstodon.org/@digitalpebble" target="_blank">
                                    <i class="fab fa-mastodon"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/digitalpebble" target="_blank">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/digitalpebble-ltd/" target="_blank">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

