<head>
  <title>Open Source Solutions for Text Engineering</title>
  <meta name="description"
  content="DigitalPebble Ltd is a consultancy specialised in web crawling, natural language processing, search and machine learning. Our expertise is based on open source solutions, such as Apache Nutch, StormCrawler, GATE, ElasticSearch or SOLR.">
  <meta name="keywords" content="web crawl, consultant, consultancy, consulting, information extraction, information retrieval, search, NLP, IE, nutch, solr, stormcrawler">
  <link rel="icon" href="img/favicon.ico" type="image/vnd.microsoft.icon">
  <link type="text/css" href="style.css" rel="stylesheet">
  <meta name="google-site-verification" content="ZNIbylXN61hwJhB39tK17-u7RsU5kgiHXWbQ5F7lrNc" />
</head>
