<head>
  <title>DigitalPebble Ltd - Open Source Solutions for Text Engineering</title>
  <meta name="description"
  content="DigitalPebble Ltd is a consultancy specialised in web crawling, natural language processing, information retrieval and extraction. Our expertise is based on open source solutions, such as Nutch, Gate or SOLR.">
  <meta name="keywords" content="crawl, gate, consultant, consultancy, consulting, information extraction, information retrieval, NLP, IR, IE, nutch, solr">
  <link rel="icon" href="img/favicon.ico" type="image/vnd.microsoft.icon">
  <link type="text/css" href="style.css" rel="stylesheet">
  <meta name="google-site-verification" content="ZNIbylXN61hwJhB39tK17-u7RsU5kgiHXWbQ5F7lrNc" />
</head>
