
<table align="center" border="0" cellspacing="0" width="70%">
  <tbody>
    <tr>
      <td valign="bottom"><img src="img/logo.gif" alt="digitalpebble"
        align="bottom" height="60" width="310"></td>
    </tr>
    <tr>
      <td align="left" valign="middle">
        <table border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td><a href="index.html"
              {% if page.slug == "home" %} class="menu active"
              {% else %} class="menu"
              {% endif %}>Home</a></td>
              <td>&nbsp;</td>
              <td><a href="solutions.html"
              {% if page.slug == "solutions" %} class="menu active"
              {% else %} class="menu"
              {% endif %}>Solutions</a></td>
              </a></td>
              <td>&nbsp;</td>
             <td><a href="references.html"
              {% if page.slug == "clients" %} class="menu active"
              {% else %} class="menu"
              {% endif %}>Clients</a></td>
              </a></td>
              <td>&nbsp;</td>
              <td><a href="contact.html"
              {% if page.slug == "contact" %} class="menu active"
              {% else %} class="menu"
              {% endif %}>Contact</a></td>
              </a></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <div id="tabs">
        </div>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
