
<table align="center" border="0" cellspacing="0" width="70%">
  <tbody>
    <tr>
      <td valign="bottom"><img src="img/logo.gif" alt="digitalpebble"
        align="bottom" height="60" width="310"></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="middle"><!-- #BeginEditable "menu" -->

        <table border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td><a href="index.html"><img name="Home"
                src="./img/menu/home2.png" border="0"></a></td>
              <td>&nbsp;</td>
              <td><a href="solutions.html"><img name="Solutions"
                src="./img/menu/solutions1.png" border="0"></a></td>
              <td>&nbsp;</td>
             <td><a href="references.html"><img name="Clients"
                src="./img/menu/clients1.png" border="0"></a></td>
              <td>&nbsp;</td>
              <td><a href="contact.html"><img src="img/menu/contact1.png"
                style="border: 0px solid ; width: 108px; height: 32px;"
                alt="" name="Contact" onload=""></a></td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <!-- #EndEditable -->
      </td>
    </tr>
    <tr>
      <td>
        <div id="tabs">
        </div>
      </td>
    </tr>
  </tbody>
</table>
