$fullGrey: #f9f9f9;
$textGrey: #4D535B;
$dark: #151515;
$teal: #34E7D0;
$Blue: #0152BC;
$pink: #CE40EB;
$pinkHover: #DD5DF8;
$black: #000;
$white: #ffffff;
$whiteGrey: #fafafa;
$whitesmoke: #f5f5f5;
$maroon: #b10610;
$darkBlack: #444444;
$blueLinks: #2878db;
$buttonBackground: #FFB600;
$buttonBackgroundHover: #F2A300;
$buttonColor: #231e46;
$copyRight: #929191;
$blueColor: #68bbd3;
$listItemCheck: #9d70e2;
$purple: #410099;
$activeNav: #ffb600;
$mainPurple: #3d2683;
$blueHaze:#C2C0CF;
$gainsBoro: #d8d8d8;
$cinder: #212325;
$sapphire: #0C2250;
$newHover: #0B438E;
$newgrey:#707070;
$newBlack: #0B0C12;
$footerBlack: #BFBFBF;
$darkGray: #757575;
$lighterGrey: #2e3136;
$blueMedium: #004ebf;
$saltyGrey: #5a5f67;
$blueHover: #004196;
$mainGreen: #497527;
$darkGrey: #333;
$mediumGrey: #F5F5F5;
$darkRed: #6F1A07;
$grey: #E5E5E5;
$darkBlue: #031926;
$lightGrey: #F2F2F2;
$hoverColor: #BC6554;
$mainColor: #BC6554;
$greenButton: #497527;
$greenButtonHover: #78a453;
$yellowButton: #f7c548;
$yellowButtonHover: #f9d477;
$lightGrey:#979797;
$lighterGreyDark: #4d4d4d;